@CHARSET "UTF-8";
.cliente {
	margin-top:15px;
	border: #cdcdcd medium solid;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	align-content: center;
	background-color: #1ac6ff;
}
.cliente1 {
	margin-top:10px;
	  padding: 10px;
	margin:20px;
	border: #cdcdcd medium solid;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	align-content: center;
}